.header__logo {
  width: 170px;
}

@media screen and (max-width: 1023px) {
  .header__logo {
    margin-left: 27px;
  }
}

@media screen and (max-width: 619px) {
  .header__logo {
    width: 100px;
  }
}

@media screen and (max-width: 480px) {
  .header__logo {
    width: 80px;
  }
}
